section: h1 觀念介紹

section
    section
        h2 Cloud Computing
        p Wiki 定義：
        blockquote provides shared computer processing resources and data to computers and other devices on demand
        p 由服務供應商（Service Providers）提供各種功能給使用者
        ul
            li 舉凡一般大眾使用的 email、messaging、storage 等
            li 或是開發者會用到的 compute machines、網路架構等
    section
        img(src="https://upload.wikimedia.org/wikipedia/commons/b/b5/Cloud_computing.svg", style="height:80%;")
        small Reference: https://en.wikipedia.org/wiki/Cloud_computing

section
    section
        p 從服務類型來區分雲端運算的層級：
        ul
            li Software as a Service
            li Platform as a Service
            li Infastructure as a Service
    section
        h3 Software as a Service
        ul
            li 提供軟體給使用者
            li 可跨平台、跨裝置存取內容及使用服務
            li Gmail, Google Drive, etc.
    section
        h3 Platform as a Service
        ul
            li 提供建立好的平台讓使用者於其上開發自己的服務
            li 通常預先建立好虛擬機（virtual machine, VM）、OS、程式語言環境、資料庫、web server 等環境，加速開發與佈署時間
            li Heroku, Google App Engine, Azure
    section
        h3 Infastructure as a Service
        ul
            li 提供基礎伺服器架構，包括 VM、OS、網路層、storage 等
            li 使用者可自行架設自己的軟體堆疊（Software Stack）與使用技術
            li 虛擬技術讓服務不受硬體層完全綁死

section
    h2 Web Server 架構與原理

section
    section
        p Web Server 泛指提供網頁、運行在電腦上的伺服器程式
        img(src="/images/web_server.png")
    section
        h3 Web Server 的職責
        ul
            li 藉由網路連線（通常是 HTTP）提供網頁內容
            li 接收連進來的網路連線，再依據設定邏輯回傳資料
            li 例如，使用者在瀏覽器輸入 http://www.google.com 即意指傳送連線給 Google 的 web server，對方根據網址回傳首頁的網頁內容給瀏覽器
            li 「依據設定邏輯」指的是根據開發者寫的應用程式（application）做判斷和網頁內容提供/生成
    section
        h3 簡單的類型區分
        ul
            li 純 Web Server：應用程式和 web server 邏輯分開，例如 PHP + Apache HTTP Server、Java EE + Web Container 等
            li Web Server + 應用程式邏輯：例如 Ruby on Rails (RoR)、Node.js 等
    section
        h3 如何設定網路層讓 Web Server 和外界互動
        ul
            li 每台連網的伺服器均對應一組 Internet Protocol (IP) Address，例如 140.112.45.120
            li 從網域供應商（Domain Provider）購買網域，例如 www.himelight.com
            li 在網域供應商設定 DNS 規則，讓網域對應至伺服器 IP
            li
                | 讓 Web Server 聽取伺服器的特定埠號（Port），即可等待傳入的連線
                ul
                    li 一般而言 port 為 80 (HTTP) 或 443 (HTTPS)

section
    section
        h3 為何使用雲端服務架設 Web Server？
        ol
            li 無初始成本（硬體成本）
            li 硬體管理成本極度低廉
            li 架構彈性，可自由切換、擴增
    section
        h3 Use Case #1
        ul
            li 購買 PC 桌機，架設於辦公室
            li 接上電源、網路，24hr 無休運轉
            li 安裝 Cent OS、Apache HTTP Server 等程式
            li 由網管指定 IP
            li 由 DNS Provider 端設定 domain name 與 IP 的連結
            li 將開發完的 web app 放入 PC
    section
        h3 Use Case #2
        ul
            li 向 AWS 申請帳號，並建立一個 EC2 instance (VM)
            li 登入 VM 安裝 Apache HTTP Server 等程式
            li 由 AWS Console 設定 IP
            li 由 DNS Provider 端設定 domain name 與 IP 的連結
            li 將開發完的 web app 放入 VM
    section
        h3 優缺點分析
        table: tbody
            tr
                td
                td #1
                td #2
            tr
                td Pros
                td
                td: ul
                    li 初始成本低
                    li 可根據連線需求動態增減機器
            tr
                td Cons
                td: ul
                    li 怕斷電
                    li 需自行負擔電費
                    li 網管溝通成本
                td: ul
                        li 較難估算成本

section
    section
        h2: a(href="https://aws.amazon.com") Amazon Web Service (AWS)
        ul
            li AWS 是一套完整的 cloud computing solution，涵蓋 IaaS 和 PaaS 等層級的服務
            li 可達成各種使用情境，如 Web Server、High Performance Computing (HPC)、Media and Gaming 等
            li 除了手動由網路介面（console）操作，所有 AWS 服務均能藉由 shell script 自動化
    each imgName in ['iaas', 'paas', 'others']
        section
            img(src='/images/aws_' + imgName + '.jpg')
            small Reference: https://aws.amazon.com
    section
        p AWS 服務一覽
        img(src="/images/aws_all.jpg")
        small Reference: https://console.aws.amazon.com

section
    section: h3 AWS 常用服務簡介
    section
        h3 Elastic Compute Cloud (EC2)：雲端的虛擬伺服器
        ul
            li 由 AWS 提供一台安裝好 OS 的 VM，稱為 EC2 instance
            li 每個 instance 配有對外 IP，可遠端連線進入直接使用
            li EC2 instance 本身相當輕量，建立、升級、複製均相當快速
    section
        h3 Simple Storage Service (S3)：在雲端儲存任意檔案
        ul
            li 用低廉的價格提供超大容量的儲存空間，讓使用者任意上傳、下載檔案
            li 每個檔案均搭配一組 URL 直接取用
            li 搭配 EC2 和其他服務，可用來儲存 Web App 生成的檔案
            li 例如，使用者上傳大頭照至 EC2 運行的 Web App 後，轉存至 S3 儲存
    section
        h3 Route53：動態設定 DNS
        ul
            li 綁定網域後，能夠任意新增子網域和其 DNS 規則
            li Route53 同時提供網域註冊服務
    section
        h3 DynamoDB &amp; RDS
        ul
            li AWS 提供的資料庫系統
            li DynamoDB 為 noSQL 資料庫，RDS 為 SQL 資料庫
            li 可搭配 EC2 使用，將資料庫從伺服器抽離出來

section
    section
        p 原本的 Web Server 架構
        img(src="/images/web_server_before.png")
    section
        p 在 AWS 上佈署的情況
        img(src="/images/web_server_on_aws_1.png")
    section
        p 抽離資料庫和檔案儲存空間
        img(src="/images/web_server_on_aws_2.png")

section
    h2 Web Server 開發與佈署流程
section
    section
        h4

section
    h2 其他雲端服務
    //- p Google Cloud Platform, Heroku, DigitalOcean
    //- p AWS: SES, CloudFront, Beanstalk, Lambda, Route53, IoT


