section#part-2
    h1 實機操作
    ul
        li AWS Console
        li Unix Commands
        li ssh 進入 EC2 instance

section
    H3 AWS Console

section
    h3 Unix Commands
    ul
        li 伺服器一般不會安裝 X Window 等視窗介面，只能由傳統的終端機（Terminal）登入進行操作
        li 由於 Linux 和 OS X 均由 Unix 發展而來，Unix Commands 在兩者是共通的
        li Windows 的 Commands 稱為 DOS，不過也能藉由安裝 cgywin 來使用 Unix Commands 操作 Windows 系統

section
    h4 常用指令
    table: tbody
        tr
            td: pre cd
            td: small
                | 進入資料夾
                br
                | cd = change directory
        tr
            td: pre ls
            td: small
                | 顯示資料夾內容
                br
                | ls = list
        tr
            td: pre pwd
            td: small
                | 顯示目前的資料夾路徑
                br
                | pwd = print working directory
        tr
            td: pre cp
            td: small
                | 複製檔案
                br
                | cp = copy
        tr
            td: pre mv
            td: small
                | 移動檔案
                br
                | mv = move
        tr
            td: pre rm
            td: small
                | 刪除檔案
                br
                | rm = remove
        tr
            td: pre mkdir
            td: small
                | 建立資料夾
                br
                | mkdir = make directory
section
    h4 File System
    ul
        li
            | Unix 的檔案系統以
            code  / 
            | 為根目錄，代表最上層資料夾
        li
            | 每個使用者均有自己的家目錄（Home Directory），以
            code  ~ 
            | 表示
            ul
                li
                    | 在 Linux 上為
                    code  /home/username
                li
                    | 在 OS X 為
                    code  /Users/username
                li 登入後預設從家目錄開始
        li
            | 以
            code  .. 
            | 表示上層資料夾、
            code  . 
            | 表示現在的資料夾
section
    h4 sudo
    ul
        li 每個資料夾和檔案均有不同的擁有者權限，一般分使用者和 root 兩種
        li 一般使用者不能直接更動 root 權限的檔案/資料夾
        li
            | 使用
            code  sudo 
            | 前綴於指令前，即可對 root 權限的檔案進行操作
        li 需輸入密碼以進行 sudo 操作
section
    h4 其他常用指令
    table: tbody
        tr
            td: pre grep
            td
                ul.small
                    li
                        | 文字搜尋，常搭配
                        code  ls 
                        | 使用
                    li 例：搜尋此資料夾內所有附檔名為 txt 的檔案
                pre ls . | grep .txt
                small grep = globally search a regular expression and print
        tr
            td: pre scp
            td: small scp = ssh + cp，直接在本地遠端兩邊進行檔案複製的操作
        tr
            td: pre chown
            td: small
                | 改變檔案的擁有者權限
                br
                | chown = change owner
        tr
            td: pre chmod
            td: small
                | 改變檔案的讀寫權限，例如從唯讀變成可修改、從一般檔案變成可執行狀態
                br
                | chmod = change mode
        tr
            td: pre rmdir
            td: small
                | 刪除資料夾
                br
                | rmdir = remove directory
        tr
            td: pre touch
            td: small 建立空檔案
        tr
            td: pre history
            td: small 查詢過去輸入的指令，可搭配 grep 方便搜尋
section
    h4 開發和佈署常用的軟體指令
    table: tbody
        tr
            td: pre ssh
            td: small 遠端連線進入別的電腦，對方需安裝 openssl-server 並開啟 ssh port 接受連線
        tr
            td: pre git
            td: small 版本控制系統（Version Control System, VCS），通常用來管理程式碼
        tr
            td: pre vim
            td
                ul.small
                    li 文字編輯器
                    li 方便直接在 server 上修改設定檔（configuration）
                blockquote: b 男子漢就該用 vim 寫程式
                .align-right: small &mdash; PF Liu

section
    h3 實機操作：用 ssh 登入 EC2 Instance
    pre ssh -i seed.pem ubuntu@54.64.194.31
