section
    h2 IaaS 服務與 Web Server 架構簡介：以 AWS 為例
    h3 Sep. 09, 2016 | NTU Garage
    p
        | 曾台綸
        | &nbsp;
        a(href="mailto:teaualune@gmail.com") teaualune@gmail.com

section
    h2 Agenda
    table.no-border: tbody: tr
        td
            h4 觀念介紹
            ul
                li 雲端運算服務
                li Web Server 架構與原理
                li Amazon Web Service (AWS)
                li 開發與佈署流程
                li 其他雲端服務
        td
            h4: a(href="#part-2") 實機操作
            ul
                li AWS Console
                li Unix Commands 簡介
                li 操作 EC2 機器

include ./part1.pug
include ./part2.pug
