.reveal {
    pre, code {
        font-family: Hack, Menlo Regular, monospace;
        font-size: .6em;
        width: 100%;
        padding: .3em .3em .1em;
        border-radius: 5px;
        background-color: rgba(0, 0, 0, 0.2);
        border: 1px solid rgba(0, 0, 0, 0.5);
    }

    section {
        img {
            border: 0;
            box-shadow: none;
        }
    }

    h1, h2, h3, h4, h5, h6 {
        text-transform: none;
    }

    table {
        td {
            vertical-align: middle;
        }
    }

    blockquote {
        border-left: 6px solid gray;
        box-shadow: none;
        background: none;
    }

    .small {
        font-size: 60%;
        line-height: 1.2em;
    }

    .align {
        &-right {
            text-align: right;
        }
        &-center {
            text-align: center;
        }
    }

}

.hljs {
    background-color: #23241f;
}

.color- {
    &red {
        color: red;
    }
    &blue {
        color: blue;
    }
    &green {
        color: green;
    }
    &yellow {
        color: #e0d000;
    }
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

table {
    &.no-border {
        tr, th, td {
            border: 0;
        }
    }
}
